<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396467899033-78ofphmh3ppa3lgnqbrjkqghua74bc0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396467899033-78ofphmh3ppa3lgnqbrjkqghua74bc0d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>396467899033-qto5hhe4i1n4pg3jcmmcn1p7agdokiah.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAv-t7INr3Rm0R-7FCqHUYsAjZCHkjDOGo</string>
	<key>GCM_SENDER_ID</key>
	<string>396467899033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.net.nusa.flutterFcm</string>
	<key>PROJECT_ID</key>
	<string>flutter-all-in-one-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-all-in-one-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396467899033:ios:5af305328e9f207a664608</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-all-in-one-testing.firebaseio.com</string>
</dict>
</plist>